# AmigaOS module configuration
*static*

# Core Amiga components
amiga amigapath.c
arexx arexxmodule.c
doslib doslibmodule.c

# Network support
_socket socketmodule.c
_ssl _ssl.c -DUSE_SSL -I/AmigaOS/include/openssl $SSL_LIBS
_hashlib _hashopenssl.c -DUSE_SSL -I/AmigaOS/include/openssl $SSL_LIBS

# Disabled modules
#*disabled*
_curses _cursesmodule.c
mmap mmapmodule.c
_spwd spwdmodule.c

# Added modules
_sha sha256module.c
_sha3 _sha3/sha3module.c 